@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/*Variables*/
:root {





    /*Colros*/
    --clr-light : #f8fafc;
    --clr-dark : #020617;

    --clr-slate-100 : #f1f5f9;
    --clr-slate-200 : #e2e8f0;
    --clr-slate-300 : #cbd5e1;
    --clr-slate-400 : #cbd5e1;
    --clr-slate-500 : #64748b;
    --clr-slate-600 : #475569;
    --clr-slate-700 : #334155;
    --clr-slate-800 : #1e293b;
    --clr-slate-900 : #0f172a;

    --clr-orange-50: #fff7ed;
    --clr-orange-100: #ffedd5;
    --clr-orange-200: #fed7aa;
    --clr-orange-300: #fdba74;
    --clr-orange-400: #fb923c;
    --clr-orange-500: #f97316;
    --clr-orange-600: #ea580c;
    --clr-orange-700: #c2410c;
    --clr-orange-800: #9a3412;
    --clr-orange-900: #7c2d12;
    --clr-orange-950: #431407;

    --clr-blue-50 : #eff6ff;
    --clr-blue-100 : #dbeafe;
    --clr-blue-200 : #bfdbfe;
    --clr-blue-300 : #93c5fd;
    --clr-blue-400 : #60a5fa;
    --clr-blue-500 : #3b82f6;
    --clr-blue-600 : #2563eb;
    --clr-blue-700 : #1d4ed8;
    --clr-blue-800 : #1e40af;
    --clr-blue-900 : #1e3a8a;
    --clr-blue-950 : #172554;

    --clr-emerald-500 : #10b981;
    --clr-emerald-600 : #059669;
    --clr-emerald-700 : #047857;

    --clr-yellow-400 : #facc15;
    --clr-yellow-500 : #eab308;
    --clr-yellow-600 : #ca8a04;

    --clr-rose-400 : #fb7185;
    --clr-rose-500 : #f43f5e;
    --clr-rose-600 : #e11d48;
    --clr-rose-700 : #be123c;
    --clr-rose-800 : #9f1239;
    --clr-rose-900 : #881337;

    --clr-indigo-400 : #818cf8;
    --clr-indigo-500 : #6366f1;
    --clr-indigo-600 : #4f46e5;
    --clr-indigo-700 : #4338ca;

    --clr-border : #64748b4d;
    

    /*Sizes*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


button , input {
    border: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}




.btn {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: var(--clr-blue-600);
    color: var(--clr-slate-100);
    font-weight: 600;
    width: 50%;
    height: 40px;
    transition: all 0.3s ease;
    border-radius : 0.5rem;
}

.btn:hover {
    background-color: var(--clr-blue-700);
}

span {
    color: var(--clr-slate-400);
}

.title {
    color: var(--clr-slate-100);
}

.description {
    color: var(--clr-slate-400);
    opacity: 0.7;
    font-size: 0.9rem;
    line-height: 1.5;
}


.container {
    max-width: 1400px;
    height: 100%;
    margin-inline: auto;
    padding: 2rem;

}

.card-list {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0.5rem;
}

.card {
    overflow: hidden;
    border-radius: 1rem;
    width: 300px;
    height: max-content;
    padding-bottom: 1rem;
    background-color: var(--clr-slate-800);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


.info {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 1rem;
}

.price-box {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.cart-icon {
    cursor: pointer;
    color: var(--clr-slate-100);
    font-size: 1.5rem;
    font-weight: 500;
}

.cart-box {
    padding: 1rem;
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    background-color: var(--clr-slate-900);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.cart-box.active {
    right: 0;
}



.cart-list {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    height: 600px;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;

}



.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--clr-slate-700);
    color: var(--clr-slate-100);
    border-radius: 0.5rem;
}

.cart-item img {
    border-radius: 0.5rem;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.delete-btn {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background-color: var(--clr-rose-600);
    color: var(--clr-slate-100);
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    border-radius : 0.5rem;
}

.close {
    cursor: pointer;
    color: var(--clr-slate-100);
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    right: 1rem;
}

.total-box {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1rem;
    right: -100%;
    bottom: 4rem;    
    transition: all 0.3s ease;
}

.cart-box.active .total-box {
    right: 17.5rem;
}